# <p style="background-color:lightgray; font-family:verdana; font-size:250%; text-align:center; border-radius: 15px 20px;">üü†CRM Analyticsüü†</p>

# <p style="border-radius:10px; border:#DEB887 solid; padding:25px; background-color: #FFFAF0; font-size:100%;color:#52017A;text-align:center;"> CRM </p>

<div style="border-radius:10px; border:#D0C2F0 solid; padding: 15px; background-color: #FFF0F4; font-size:100%; text-align:left">

<h3 align="left"><font color='#5E5273'>üîç What is CRM, What is CRM concepts and KPI's ? </font></h3>

## If there is a company, of course, it has customers. The management of the relationships with customers is called CRM.

* **Customer lifecycle optimizations**
for example we have got a website, the first step of the customer is entering the website. The second step is signing up for the site. The     third step is making a purchase. These are the initial steps of the customer lifecycle.

* **Communication (language, color, visuals, campaigns)**
It is the communication that will take place with the customer. For example, some companies make jokes on their customers via social media.

* **Customer acquisition/finding efforts**
It is about finding new customers, regardless of whether it is online or offline. Finding new customers is more costly than retaining existing ones. Therefore, a large part of CRM efforts are aimed at retaining existing customers, which are known as customer churn efforts.

* **Cross-selling, upselling**
For example, if a person buys a hamburger, they are offered fries (cross-sell). If they buy a cola, they are offered a larger size of the same drink (upsell). In summary, it is an attempt to make more sales.

* **Customer segmentation efforts**
When a brand addresses its customers, communicates with them, instead of treating them all the same, it can divide its customers into different segments and communicate more focused, useful, and efficiently. The basis of these efforts is that resources are limited, but there is a lot of work to be done. For example, if there are 1000 customers, and we want to retain them because finding new ones is more costly, it is quite logical to segment them to prioritize those that are most valuable to us, and those that might be slightly less so. When there is interaction between us and the customer, prioritizing the customers that will provide the most benefit to our company and proceeding accordingly is key.
    
    
    
CRM analytics efforts aim to make the entire customer relationship process more efficient based on data.

## KPI, Key Performance Indicators, refer to measurable critical indicators that help an organization achieve specific objectives. They are mathematical indicators used to evaluate the performance of companies, departments, or employees.
    
    
* **Customer Acquisition Rate:** The percentage of customers acquired during a specific period.
* **Customer Retention Rate:** The likelihood of a customer who has engaged with the company to make a repeat purchase or continue patronizing the company.
* **Customer Churn Rate:** The rate at which existing customers leave the company.
* **Conversion Rate:** In the context of an advertisement, if a thousand people see the ad and ten people click on it, the conversion rate is 10/1000.
* **Growth Rate:** Goals set by companies at the beginning of the year or specific time periods.
    
 ####   Analysis of Cohort

* **cohort:** a group of people who share common characteristics.
* **cohort analysis:** the analysis of the shared behavior of a group of people with common characteristics within a specific period of time.

For example, churn: customers who share common characteristics with previously churned customers are more likely to churn.

<center><span style="color:#f7c297;font-family:cursive;font-size:100%"> -CRM- </span></center>
<center><img src="https://i.imgur.com/5fdhxeZ.png" width="800" height="800"></center>

# <p style="border-radius:10px; border:#DEB887 solid; padding:25px; background-color: #FFFAF0; font-size:100%;color:#52017A;text-align:center;"> RFM Analysis </p>

# RFM Analysis is a technique used for customer segmentation. It involves the categorization of customers into groups based on their purchasing behavior, allowing the development of strategies tailored to these groups.

## RFM Metrics

**Recency:** Indicates how recently the customer made a purchase or interacted with us. For example, if one customer's value is 1 and another's is 10, a value of 1 is considered better, indicating a more recent purchase, especially when discussing daily transactions.

**Frequency:** Refers to the number of purchases/transactions made by the customer.

**Monetary Value:** Represents the monetary value that customers have left with us.

For the Recency metric, a lower value is considered better, for Frequency, a higher value is optimal, and for Monetary, the highest value is considered the best. 
    
We need to convert the RFM metrics into the same format to make comparisons, which leads to the computation of RFM scores.

In [1]:
import datetime as dt
import pandas as pd

In [2]:
df_ = pd.read_excel(r"/kaggle/input/online-retail/online_retail_II.xlsx" ,sheet_name="Year 2009-2010")
df = df_.copy()

In [3]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
#Unique product count.
df["Description"].nunique()

4681

In [5]:
#How many of each product are there? #How many times did these unique products appear on the invoice?
df["Description"].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER     3549
REGENCY CAKESTAND 3 TIER               2212
STRAWBERRY CERAMIC TRINKET BOX         1843
PACK OF 72 RETRO SPOT CAKE CASES       1466
ASSORTED COLOUR BIRD ORNAMENT          1457
                                       ...
stock credited from royal yacht inc       1
VINTAGE METAL CAKE STAND CREAM            1
BLUE BAROQUE FLOCK CANDLE HOLDER          1
S/4 HEART CRYSTAL FRIDGE MAGNETS          1
dotcom email                              1
Name: count, Length: 4681, dtype: int64

In [6]:
#Which product is the most ordered? #How many units of each of these unique products were sold?
df.groupby("Description").agg({"Quantity": "sum"}).sort_values("Quantity", ascending=False).head()

                                    Quantity
Description
WHITE HANGING HEART T-LIGHT HOLDER     57733
WORLD WAR 2 GLIDERS ASSTD DESIGNS      54698
BROCADE RING PURSE                     47647
PACK OF 72 RETRO SPOT CAKE CASES       46106
ASSORTED COLOUR BIRD ORNAMENT          44925

In [7]:
#How many invoices were issued?
df["Invoice"].nunique()

28816

In [8]:
#How much revenue was earned per invoice?
#We found the total price by multiplying the quantity of products sold by their respective prices.
df["TotalPrice"] = df["Quantity"] * df["Price"]

#To calculate how much was paid per invoice, we take the invoice to the groupby and sum the total price.
df.groupby("Invoice").agg({"TotalPrice": "sum"}).head()

         TotalPrice
Invoice
489434       505.30
489435       145.80
489436       630.33
489437       310.75
489438      2286.24

In [9]:
#Since the customer IDs are missing, we can delete them. Without customer IDs, we cannot segment them.
df.dropna(inplace=True) # We dropped the empty ones from our dataframe.

#Expressions starting with C in the invoice represent returns.
#Since the price cannot be negative, these must be due to returns. We need to remove them from the dataframe.
df = df[~df["Invoice"].str.contains("C", na=False)]

In [10]:
#Since the dataset dates back to the 2010s and we were not there at that time, we need to pretend that we are analyzing it as if it were two days later.
today_date = dt.datetime(2010, 12, 11)
df["InvoiceDate"].max()

Timestamp('2010-12-09 20:01:00')

In [11]:
#To find Recency, we need to find the maximum date for each customer after taking the groupby from the today date, and then subtract it from 
#the today date.
#For Frequency, after taking the groupby by customerID, if we go to the unique invoice count for each customer, we can find how many 
#purchases the customer made.
#For Monetary, after taking the groupby by customerID, if we take the sum of the total prices, we can find how much each customer left.
rfm = df.groupby("Customer ID").agg({'InvoiceDate': lambda date: (today_date - date.max()).days,
                                     'Invoice' : lambda num: num.nunique(),
                                     'TotalPrice': lambda TotalPrice: TotalPrice.sum()})

rfm.head()

             InvoiceDate  Invoice  TotalPrice
Customer ID
12346.0              165       11      372.86
12347.0                3        2     1323.32
12348.0               74        1      222.16
12349.0               43        3     2671.14
12351.0               11        1      300.93

In [12]:
rfm.columns = ['Recency', 'Frequency', 'Monetary']
rfm = rfm[rfm["Monetary"] > 0 ]

In [13]:
#Recency = inverse
#Frequency and Monetary = direct
#That is, a high score is a bad result for Recency, and a high score is a good result for Frequency and Monetary.

rfm["recency_score"] = pd.qcut(rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])
#If we divide it into 5 with qcut between 0-100, for example, 0-20, 20-40, 40-60, 60-80, 80-100, the scoring in recency will
#be such that 1 is good and 5 is bad.

rfm["monetary_score"] = pd.qcut(rfm['Monetary'], 5, labels=[1, 2, 3, 4, 5])
#1 is good and 5 is bad for monetary.

#A higher value is valuable in frequency, we used the rank method as first because there are similar values, we said take the first one you see.
rfm["frequency_score"] = pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

In [14]:
rfm["RFM_SCORE"] = (rfm['recency_score'].astype(str) +
                    rfm['frequency_score'].astype(str))

In [15]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalist',
    r'5[4-5]': 'champions',
}


rfm['segment'] = rfm['RFM_SCORE'].replace(seg_map, regex=True)

In [16]:
rfm[["segment","Recency","Frequency","Monetary"]]. groupby("segment").agg(["mean","count"])

                       Recency        Frequency           Monetary
                          mean count       mean count         mean count
segment
about_to_sleep       53.819242   343   1.201166   343   441.320000   343
at_risk             152.158756   611   3.073650   611  1188.878316   611
cant_loose          124.116883    77   9.116883    77  4099.450000    77
champions             7.119155   663  12.553544   663  6852.264167   663
hibernating         213.885714  1015   1.126108  1015   403.977836  1015
loyal_customers      36.287062   742   6.830189   742  2746.067353   742
need_attention       53.265700   207   2.449275   207  1060.357005   207
new_customers         8.580000    50   1.000000    50   386.199200    50
potential_loyalist   18.793037   517   2.017408   517   729.510986   517
promising            25.747126    87   1.000000    87   367.086782    87

### <p style="font-family:JetBrains Mono; font-weight:bold; letter-spacing: 2px; color:#8581B8; font-size:140%; text-align:center;padding: 0px; border-bottom: 3px solid">RF Table</p>
# **<center> <img src=https://i.imgur.com/MYgXofm.png> <img> </center>**

### Lets say we need our Champions id for the new promotions

In [17]:
rfm[rfm["segment"]== "champions"].head()

,Recency,Frequency,Monetary,recency_score,monetary_score,frequency_score,RFM_SCORE,segment
Customer ID,,,,,,,,
12360.0,15,5,1590.83,5,4,4,54,champions
12395.0,7,4,2048.64,5,4,4,54,champions
12415.0,11,7,19543.84,5,5,5,55,champions
12429.0,1,5,3735.51,5,5,4,54,champions
12431.0,9,13,4370.52,5,5,5,55,champions

In [18]:
#here is their id's, we can make new promotions for them.
rfm[rfm["segment"]== "champions"].index

Index([12360.0, 12395.0, 12415.0, 12429.0, 12431.0, 12433.0, 12471.0, 12472.0,
       12474.0, 12481.0,
       ...
       18144.0, 18168.0, 18170.0, 18219.0, 18225.0, 18226.0, 18229.0, 18245.0,
       18259.0, 18260.0],
      dtype='float64', name='Customer ID', length=663)

# <p style="border-radius:10px; border:#DEB887 solid; padding:25px; background-color: #FFFAF0; font-size:100%;color:#52017A;text-align:center;"> CLTV </p>

Customer Lifetime Value (CLTV) is the monetary value that a customer will bring to a company during the entire relationship-communication period established with the company.
    

CLTV is calculated as follows: CLTV = (customer value / churn rate) x profit margin.

Ultimately, when rankings are made based on the calculated CLTV values for each customer and groups are formed by dividing at certain points based on CLTV values, our customers will be segmented.

<center><span style="color:#f7c297;font-family:cursive;font-size:100%"> -CLTV- </span></center>
<center><img src="https://i.imgur.com/08XSo1w.png" width="800" height="800"></center>

In [19]:
from sklearn.preprocessing import MinMaxScaler
df = df_.copy()

In [20]:
#preprossesing data
df = df[~df["Invoice"].str.contains("C", na=False)]
df = df[(df['Quantity'] > 0)]
df.dropna(inplace=True)
df["TotalPrice"] = df["Quantity"] * df["Price"]

In [21]:
#We merged the invoices of IDs that made multiple purchases into a single ID.
cltv_c = df.groupby('Customer ID').agg({'Invoice': lambda x: x.nunique(),
                                        'Quantity': lambda x: x.sum(),
                                        'TotalPrice': lambda x: x.sum()})

In [22]:
#1. total transaction - the unique invoice count variable
#2. total units purchased
#3. total account value
cltv_c.columns = ['total_transaction','total_unit','total_price']

In [23]:
#Average Order Value ( average_order_value = total_price/ total_transaction)
cltv_c["average_order_value"] = cltv_c["total_price"] / cltv_c["total_transaction"]

In [24]:
# Purchase Frequency (total_transaction / total_number_of_customers)
cltv_c["purchase_frequency"] = cltv_c["total_transaction"] / cltv_c.shape[0]

In [25]:
#4. Repeat RAte and Churn RAte  ( birden fazla alƒ±≈üveri≈ü yapan m√º≈üteri sayƒ±sƒ± / t√ºm m√º≈üteriler)
repeat_rate = cltv_c[cltv_c["total_transaction"]>1].shape[0] / cltv_c.shape[0]
churn_rate = 1 - repeat_rate

In [26]:
# Profit Margin (profit_margin = total_price * 0.10)
cltv_c['profit_margin']= cltv_c['total_price'] * 0.10

In [27]:
# Customer Value ( customer_value = average_order_value * purchase_frequency)
cltv_c['customer_value'] = cltv_c['average_order_value'] * cltv_c['purchase_frequency']

In [28]:
# Customer Lifetime Value (CLTV = (customer_value / churn_rate) x profit_margin)
cltv_c["cltv"] = (cltv_c["customer_value"]/ churn_rate) * cltv_c["profit_margin"]
cltv_c.sort_values(by="cltv",ascending=False ).head()

,total_transaction,total_unit,total_price,average_order_value,purchase_frequency,profit_margin,customer_value,cltv
Customer ID,,,,,,,,
18102.0,89,124216,349164.35,3923.194944,0.020631,34916.435,80.937494,8.579574e+06
14646.0,78,170342,248396.50,3184.570513,0.018081,24839.650,57.579161,4.342070e+06
14156.0,102,108107,196566.74,1927.124902,0.023644,19656.674,45.564845,2.719105e+06
14911.0,205,69722,152147.57,742.183268,0.047520,15214.757,35.268329,1.629056e+06
13694.0,94,125893,131443.19,1398.331809,0.021790,13144.319,30.468982,1.215856e+06

In [29]:
# Making Segments
cltv_c["segment"] = pd.qcut(cltv_c["cltv"], 4, labels=["D","C","B","A"])

cltv_c.groupby("segment").agg({"count","mean","sum"})

        total_transaction                total_unit                 \
                     mean count    sum         mean count      sum
segment
D                1.228916  1079   1326   109.004634  1079   117616
C                2.003711  1078   2160   283.056586  1078   305135
B                3.769017  1078   4063   680.158627  1078   733211
A               10.811863  1079  11666  4062.337349  1079  4383262

         total_price                    average_order_value  ...  \
                mean count          sum                mean  ...
segment                                                      ...
D         178.188258  1079   192265.130          157.372999  ...
C         475.896524  1078   513016.453          294.454875  ...
B        1131.359184  1078  1219605.200          389.728315  ...
A        6401.405460  1079  6907116.491          670.965916  ...

        purchase_frequency profit_margin                    customer_value  \
                       sum          mean count          sum           mean
segment
D                 0.307371     17.818826  1079   19226.5130       0.041305
C                 0.500695     47.589652  1078   51301.6453       0.110314
B                 0.941817    113.135918  1078  121960.5200       0.262253
A                 2.704219    640.140546  1079  690711.6491       1.483868

                                    cltv
        count          sum          mean count           sum
segment
D        1079    44.567717      2.640712  1079  2.849328e+03
C        1078   118.918974     16.868519  1078  1.818426e+04
B        1078   282.708669     96.057387  1078  1.035499e+05
A        1079  1601.093299  23408.058426  1079  2.525730e+07

[4 rows x 24 columns]

# <p style="border-radius:10px; border:#DEB887 solid; padding:25px; background-color: #FFFAF0; font-size:100%;color:#52017A;text-align:center;"> CLTVP </p>

* We will model the purchase behavior of the entire audience with a probability distribution. Then, using this probability distribution, we will estimate the expected purchase/transaction numbers for each individual in a personalized, conditional manner.

* We will probabilistically model the average profit value of our entire population. Then, using this model, when we input individual characteristics, we will calculate the conditional expected average profits for each individual, informed by the distribution of the main population.
    

**CLTV =  BG/NBD model   *  Gamma gamma submodel**
    
**BG/NDB model**

As long as a customer is alive, the number of transactions that the customer will perform within a certain time period follows a Poisson distribution with the transaction rate parameter. In simpler terms, a customer will continue to make random purchases around their transaction rate as long as they are alive.

**Gamma Gamma Submodel**

It is used to estimate how much average profit a customer can generate per transaction. The monetary value of a customer's transactions is randomly distributed around the average transaction values. The average transaction value may vary over time but remains constant for a single user. The average transaction value follows a gamma distribution across all customers.

In [30]:
pip install lifetimes

Collecting lifetimes
  Downloading Lifetimes-0.11.3-py3-none-any.whl (584 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 584.2/584.2 kB 8.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.10.0 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (1.23.5)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (1.11.2)
Requirement already satisfied: pandas>=0.24.0 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (2.0.3)
Collecting autograd>=1.2.0 (from lifetimes)
  Downloading autograd-1.6.2-py3-none-any.whl (49 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 49.3/49.3 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: dill>=0.2.6 in /opt/conda/lib/python3.10/site-packages (from lifetimes) (0.3.7)
Requirement already satisfied: future>=0.15.2 in /opt/conda/lib/python3.10/site-packages (from autograd>=1.2.0->lifetimes) (0.18.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.0->lifetimes) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.0->lifetimes) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.0->lifetimes) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=0.24.0->lifetimes) (1.16.0)
Installing collected packages: autograd, lifetimes
Successfully installed autograd-1.6.2 lifetimes-0.11.3
Note: you may need to restart the kernel to use updated packages.

In [31]:
import datetime as dt
import matplotlib.pyplot as plt
import pandas as pd
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from lifetimes.plotting import plot_period_transactions
from sklearn.preprocessing import MinMaxScaler

In [32]:
df = df_.copy()

In [33]:
#outlier cleaning functions
def outlier_thresholds(dataframe,variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 +1.5 * interquantile_range
    low_limit= quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe,variable)
    #dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable]  = up_limit

In [34]:
df.dropna(inplace=True)
df = df[~df["Invoice"].str.contains("C", na=False)]
df = df[df["Quantity"]> 0]
df = df[df["Price"]> 0]
replace_with_thresholds(df, "Quantity")
replace_with_thresholds(df, "Price")

In [35]:
df["TotalPrice"] = df["Quantity"] * df["Price"]
today_date = dt.datetime(2011, 12, 11)

In [36]:
#Preparing the Lifetime Data Structure

#recency: time since the last purchase. Weekly.
#T: Customer's age. Weekly. (how long ago the first purchase was made from the analysis date)
#frequency: total number of repeated purchases (frequency > 1)
#monetary_value: average earnings per purchase

cltv_df = df.groupby('Customer ID').agg({'InvoiceDate': [lambda x: (x.max() - x.min()).days,
                                                         lambda x: (today_date - x.min()).days],
                                         'Invoice': lambda x: x.nunique(),
                                         'TotalPrice': lambda x: x.sum()})

In [37]:
cltv_df.columns = cltv_df.columns.droplevel(0)
cltv_df.columns = ["recency", "T", "frequency","monetary"]
cltv_df["monetary"] = cltv_df["monetary"] / cltv_df["frequency"]
cltv_df = cltv_df[(cltv_df['frequency'] > 1)]
cltv_df["recency"] = cltv_df["recency"] / 7
cltv_df["T"] = cltv_df["T"] / 7

In [38]:
#Expected Number of Transaction with the BG-NBD Model
bgf = BetaGeoFitter(penalizer_coef=0.001)

bgf.fit(cltv_df['frequency'],
        cltv_df['recency'],
        cltv_df['T'])

In [39]:
#weekly purchase expected
cltv_df["expected_purc_1_week"]= bgf.predict(1,
                                                cltv_df['frequency'],
                                                cltv_df['recency'],
                                                cltv_df['T']).sort_values(ascending=False)

In [40]:
#monthly purchase expected
cltv_df["expected_purc_1_month"]= bgf.predict(4,
                                                cltv_df['frequency'],
                                                cltv_df['recency'],
                                                cltv_df['T']).sort_values(ascending=False)

In [41]:
#3 month purchase expected
cltv_df["expected_purc_3_month"] = bgf.predict(4* 3,
                cltv_df['frequency'],
                cltv_df['recency'],
                cltv_df['T'])

In [42]:
#Expected Average Profit with the Gamma-Gamma Model
ggf = GammaGammaFitter(penalizer_coef=0.01)

ggf.fit(cltv_df['frequency'], cltv_df['monetary'])

cltv_df["expected_average_profit"] = ggf.conditional_expected_average_profit(cltv_df['frequency'],
                                        cltv_df['monetary'])

In [43]:
#Calculation of CLTV with the BG-NBD and Gamma-Gamma models
cltv = ggf.customer_lifetime_value(bgf,
                                      cltv_df['frequency'],
                                      cltv_df['recency'],
                                      cltv_df['T'],
                                      cltv_df['monetary'],
                                      time= 3, #3 month
                                      freq='W', #frequency info of T
                                      discount_rate=0.01 )

In [44]:
cltv = cltv.reset_index()
cltv_final = cltv_df.merge(cltv, on='Customer ID',how='left')
cltv_final.sort_values(by='clv', ascending=False).head(10)

,Customer ID,recency,T,frequency,monetary,expected_purc_1_week,expected_purc_1_month,expected_purc_3_month,expected_average_profit,clv
67,12497.0,34.857143,92.142857,2,2563.820000,0.004208,0.016593,0.047960,2810.179757,142.887244
1671,15823.0,51.142857,104.571429,3,1292.050000,0.006209,0.024494,0.070878,1372.925477,103.179795
83,12557.0,50.142857,103.285714,4,1681.295000,0.004576,0.018030,0.052032,1758.735051,96.999557
1059,14564.0,42.857143,105.142857,2,1302.810000,0.004429,0.017490,0.050760,1429.002092,76.937065
6,12358.0,50.857143,104.571429,3,901.236667,0.006078,0.023977,0.069381,958.048219,70.479500
449,13373.0,45.285714,104.857143,3,1424.980000,0.003814,0.015045,0.043538,1514.040503,69.893998
58,12477.0,31.857143,89.142857,3,2352.210000,0.002297,0.009041,0.026021,2498.363724,68.887943
2127,16732.0,46.857143,104.571429,3,1175.276667,0.004426,0.017458,0.050517,1248.961947,66.898698
42,12435.0,48.571429,105.428571,4,1460.222500,0.003454,0.013613,0.039311,1527.608093,63.658485
221,12873.0,40.571429,97.428571,2,826.650000,0.005206,0.020540,0.059474,907.466532,57.230185

In [45]:
#making segments according to CLTV
cltv_final["segment"] = pd.qcut(cltv_final["clv"],4, labels=["D","C","B","A"])
cltv_final.groupby("segment").agg({"count","mean","sum"})

          Customer ID                      recency                      \
                 mean count         sum       mean count           sum
segment
D        15506.726519   724  11226870.0  22.717048   724  16447.142857
C        15325.250346   723  11080156.0  23.359218   723  16888.714286
B        15349.189488   723  11097464.0  30.214582   723  21845.142857
A        15222.006916   723  11005511.0  37.845287   723  27362.142857

                 T                      frequency  ... expected_purc_1_month  \
              mean count           sum       mean  ...                   sum
segment                                            ...
D        87.959353   724  63682.571429  11.606354  ...              0.099059
C        84.997234   723  61453.000000   5.091286  ...              0.783037
B        89.848449   723  64960.428571   4.419087  ...              2.737323
A        95.340842   723  68931.428571   3.478562  ...              7.988819

        expected_purc_3_month                  expected_average_profit        \
                         mean count        sum                    mean count
segment
D                    0.000391   724   0.283226              338.032356   724
C                    0.003103   723   2.243500              351.796299   723
B                    0.010881   723   7.867149              389.178425   723
A                    0.031890   723  23.056348              498.258863   723

                              clv
                   sum       mean count           sum
segment
D        244735.425590   0.081883   724     59.283604
C        254348.723915   0.792449   723    572.940919
B        281376.001442   3.131898   723   2264.362399
A        360241.157640  14.401344   723  10412.171787

[4 rows x 30 columns]